.DS_Store
ssh_passphrase.txt
Gopkg.lock
Gopkg.toml
logs.log
vendor
Judex
go_drafts/Makefile
go_drafts/*.dat
go_drafts/*.ans
go_drafts/*.err
go_drafts/*.res
go_drafts/*.c
go_drafts/*.elf
go_drafts/*.prot
go_drafts/*/*.dat
go_drafts/*/*.ans
go_drafts/*/*.err
go_drafts/*/*.res
go_drafts/*/*.c
go_drafts/*/*.elf
go_drafts/*/*.prot
go_drafts/testing
.vscode
