logPath="/var/log/Judex"
templatePath="/var/www/judex.vdi.mipt.ru/html/template"
staticPath="/var/www/judex.vdi.mipt.ru/html/static"
emailPatterns="/var/www/judex.vdi.mipt.ru/emails"
problemsPath="/var/www/judex.vdi.mipt.ru/problems"
solutionsPath="/var/www/judex.vdi.mipt.ru/solutions"
tmpPath="/tmp/ram"
