body {
    margin: 0px;
    background-color: #ffffff;
    font-size: 14px;

}

.header {
    width: 100%;
    height: 50px;
    margin: 0px;

    border-style: groove;
    border-width: 0px 0px 2px 0px;
    border-color: #95ffe8;

    border-image: linear-gradient(to left, #bfebb0, #95ffe8);
    border-image-slice: 1;

    background: linear-gradient(to right bottom, #51079f, #400a35);
    color: #a8c6e2;
    font-family: Helvetica;
}

.logo {
    width: 130px;
    height: 50px;

    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;

    border-style: ridge;
    border-width: 0px 2px 0px 0px;
    border-image: linear-gradient(to bottom, #bfebb0, #95ffe8);
    border-image-slice: 1;

    text-align: center;
    line-height: 50px;

    color: #95ffe8;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;

    background: linear-gradient(to left, #bfebb0, #95ffe8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my_contests {
	width: 110px;
    height: 50px;

    position: absolute;
    left: 132px;
    top: 0px;

    margin: 0px;

	border-style: ridge;
    border-width: 0px 1px 0px 0px;
    border-image: linear-gradient(to bottom, #bfebb0, #95ffe8);
    border-image-slice: 1;

    text-align: center;
    line-height: 50px;

    color: #95ffe8;
    font-size: 16px;
    font-weight: 100;
}

.field {
    width: 90%;	
	margin: 15px 25px 15px 25px;

    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}

.field > input {
    width: 100%;
    height: 35px;

    padding-left: 20px;

    border-style: solid;
    border-width: 1px;
    border-color: #737373;
    border-radius: 5px;

    font-size: 14px;
}

.field > textarea {
    width: 100%;

    padding-top: 10px;
    padding-left: 20px;

    border-style: solid;
    border-width: 1px;
    border-color: #737373;
    border-radius: 5px;

    font-size: 14px;
}

.field::-moz-placeholder { color: #737373; }
.field::-webkit-input-placeholder { color: #737373; }
.field::-ms-input-placeholder { color: #737373; }
.field::-ms-input-placeholder { color: #737373; }
.field::placeholder { color: #737373; }

.all_contests {
	width: 110px;
    height: 50px;

    position: absolute;
    left: 243px;
    top: 0px;

    margin: 0px;

	border-style: ridge;
    border-width: 0px 1px 0px 0px;
    border-image: linear-gradient(to bottom, #bfebb0, #95ffe8);
    border-image-slice: 1;
	
    text-align: center;
    line-height: 50px;

    color: #95ffe8;
    font-size: 16px;
    font-weight: 100;
}

.problems {
	width: 110px;
    height: 50px;

    position: absolute;
    left: 353px;
    top: 0px;

    margin: 0px;

	border-style: ridge;
    border-width: 0px 1px 0px 0px;
    border-image: linear-gradient(to bottom, #bfebb0, #95ffe8);
    border-image-slice: 1;

	
    text-align: center;
    line-height: 50px;

    color: #95ffe8;
    font-size: 16px;
    font-weight: 100;
}

.sign_out_button {
    width: 80px;
    height: 30px;

    position: absolute;
    left: calc(100% - 185px);
    top: -5px;
    float: right;

    text-align: center;
    line-height: 30px;

    color: #95ffe8;
    font-size: 16px;
    font-weight: 100;
}

.my_profile {    
    width: 104px;
    height: 50px;

    position: absolute;
    left: calc(100% - 105px);
    top: -15px;

    text-align: center;
    line-height: 50px;
	
	border-style: ridge;
    border-width: 0px 0px 0px 1px;
    border-image: linear-gradient(to bottom, #bfebb0, #95ffe8);
    border-image-slice: 1;

    color: #95ffe8;
    font-size: 16px;
    font-weight: 100;
}

.main {
    width: calc(70% - 40px);
    min-height: 300px;
	min-width: 652px;

    position: relative;
    top: 80px;
    left: 15%;

    margin-bottom: 100px;

    padding: 20px;

    border-radius: 5px;

    background-color: #e8ecef;
	
}

h1 {
    margin-left: 25px;
    margin-bottom: 10px;

    font-family: Helvetica;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 1px;
}

h2 {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;

    font-family: Helvetica;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
	
	font-weight: bold;
}

.main > p {
	font-size: 18px;
	text-align: justify;
	margin: 15px 25px 15px 25px;
}

.submit {
    margin: 25px;

    float: left;
	text-align:center;
}

.submit > a > input {
    width: 300px;

    padding: 8px;

    border-radius: 5px;
    border: double;
    border-color: #b7b7b7;
    border-width: 1px;

    cursor: pointer;

    background: linear-gradient(to left bottom, #bfebb0, #95ffe8);

    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer {
    width: 100%;
    height: 35px;

    position: fixed;
    bottom: 0px;

    background: linear-gradient(to right bottom, #51079f, #400a35);
    color: #a8c6e2;

    font-family: Helvetica;
    font-size: 12px;
    text-align: right;
}

.copyright {
    position: fixed;
    left: calc(100% - 330px);
	margin: 10px 0px 10px 0px;
	font-size: 12px;
}