<!DOCTYPE html>
<html>

    <head>
        <title>Judex</title>
        <link href="/static/stylesheets/home.css" rel="stylesheet" type="text/css">
        <link href="/static/stylesheets/logo.png" rel="shortcut icon" type="image/png">
    </head>

    <body>
        <div class="header">
            <a href="/">
                <div>
                    <p class="logo">JUDEX</p>
                </div>
            </a>
			<a href="/problems">
                <div>
                    <p class="problems">Problems</p>
                </div>
            </a><!---->
            <a href="/sign_out">
                <div>
                    <p class="sign_out_button">Sign out</p>
                </div>
            </a>
            <a href="/profile">
                <div>
                    <p class="my_profile">My profile</p>
                </div>
            </a>
        </div>

        <div class="main">
            <h1>Judex</h1>
            <h2>Judex is a website to running programming contests.</h2>

        </div>

        <div class="footer">
            <p class="copyright">&copy; Igor Taraymovich, Dmitry Gushchin, Kirill Puchkov - 2019</p>
        </div>
    </body>

</html>