<!DOCTYPE html>
<html>

    <head>
        <title>Judex::Problems</title>
        <link rel="stylesheet" href="/static/stylesheets/problems.css" type="text/css">
        <link rel="shortcut icon" href="/static/stylesheets/logo.png" type="image/png">
    </head>

    <body>
        <div class="header">
            <a href="/">
                <div>
                    <p class="logo">JUDEX</p>
                </div>
            </a>
			<a href="/problems">
                <div>
                    <p class="problems">Problems</p>
                </div>
            </a>
            <a href="/users">
                <div>
                    <p class="all_contests">Users</p>
                </div>
            </a>
            <a href="/sign_out">
                <div>
                    <p class="sign_out_button">Sign out</p>
                </div>
            </a>
            <a href="/profile">
                <div>
                    <p class="my_profile">My profile</p>
                </div>
            </a>
        </div>

        <div class="main">
            <h1>Problems</h1>
            <table>
                <tr>
                    <td style="width: 5%;">№</td>
                    <td style="width: 30%;">Name</td>
                    <td>Author</td>
                    <td>Score</td>
                </tr>		
                {{ with . }}
                    {{ range . }}
                        <tr>
                            <td style="width: 5%;">{{ .Problem.Number }}</td>
                            <td style="width: 30%;"><a href="/problem/{{ .Problem.Number }}">{{ .Problem.Name }}</a></td>
                            <td>{{ .Problem.Author }}</td>
                            <td>{{ .Score.Score }} %</td>
                        </tr>
                    {{ end }}
                {{ end }}
            </table>

            <p>If you want to add problem, please, write on <a>judex.mipt@gmail.com</a></p>
        </div>

        <div class="footer">
            <p class="copyright">&copy; Igor Taraymovich, Dmitry Gushchin, Kirill Puchkov - 2019</p>
        </div>
    </body>

</html>
