<!DOCTYPE html>
<html>

    <head>
        <title>Judex::Sign in</title>
        <link rel="stylesheet" href="/static/stylesheets/sign_in.css" type="text/css">
        <link rel="shortcut icon" href="img/logo.png" type="image/png">
        <script type="text/javascript" src="/static/scripts/sign_in.js"></script>
    </head>

    <body>
        <div class="header">
            <a href="/">
                <div>
                    <p class="logo">JUDEX</p>
                </div>
            </a>
            <a href="/sign_in">
                <div>
                    <p class="sign_in_button">Sign in</p>
                </div>
            </a>
            <a href="/registration">
                <div>
                    <p class="sign_up_button">Sign up</p>
                </div>
            </a>
        </div>

        <div class="main">
            <h1>Sign in to Judex</h1>
            <form action="/sign_in_submit" method="post">
                <div class="field">
                    Username<sup>&#10033;</sup><br/>
                    <input type="text" name="username" id="username" placeholder="..." required value autocomplete="off" />
                </div>
                <div class="field">
                    Password<sup>&#10033;</sup><br/>
                    <input type="password" name="password" id="password" placeholder="*******" required value autocomplete="off" />
                </div>
                <div class="submit">
                    <input type="submit" name="submit" id="submit" value="Sign in" onClick="validateSubmit()" />
                </div>
                <a href="/">
                    <input type="button" name="cancel" id="cancel" value="Cancel" />
                </a>
				<div class="sign_up_link">
                    No account?
						<a href="/registration">Create one.</a>
                </div>
            </form>
        </div>

        <div class="footer">
            <p class="copyright">&copy; Igor Taraymovich, Dmitry Gushchin, Kirill Puchkov - 2019</p>
        </div>
    </body>
</html>
