<!DOCTYPE html>
<html>

    <head>
        <title>Solution</title>
        <link rel="stylesheet" href="css/solution.css" type="text/css">
        <link rel="shortcut icon" href="img/logo.png" type="image/png">
    </head>

    <body>
        <div class="header">
            <a href="/">
                <div>
                    <p class="logo">JUDEX</p>
                </div>
            </a>			
			<a href="/problems">
                <div>
                    <p class="problems">Problems</p>
                </div>
            </a>
            <a href="/sign_out">
                <div>
                    <p class="sign_out_button">Sign out</p>
                </div>
            </a>
            <a href="/profile">
                <div>
                    <p class="my_profile">My profile</p>
                </div>
            </a>
        </div>

		<div class="main">
			<table>
				<tr class="no_border">
					<td>Problem</td>
                    <td>Sent</td>
                    <td>Compiler</td>
                    <td>Author</td>
                </tr>		
				<tr class="no_border">
                    <td><a href="/problems/{{ .Problem.Number }}">{{ .Problem.Name }}</a></td>
                    <td>{{ .PostTime }}</td>
                    <td>{{ .Compiler }}</td>
                    <td>{{ .Author }}</td>
                </tr>
            </table>
			
			<table>
                {{ with .Tests }}
                    {{ range . }}
                        <tr>
                            <td class="done"><img src="/static/stylesheets/{{ if .Passed }}done.svg{{ else }}nope.svg{{ end }}" class="icons" style="margin-top: 5px;"></td>
                            <td class="number">#1</td>
                            <td>{{ .Verdict }}</td>
                            <td>{{ .Time }}</td>
                            <td>{{ .Memory }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
                <tr>
                    <td class="done"></td>
                    <td class="number"></td>
                    <td>{{ .Passed }} ({{ .Score }}%)</td>
                    <td>{{ .MaxTime }}</td>
                    <td>{{ .MaxMemory }}</td>
                </tr>
            </table>
        </div>

		<div class="main_down">
			<h2>Source code</h2>
			<hr>
			<div class="field">
                <code>{{ .Code }}</code>
            </div>
        </div>
		
        <div class="footer">
            <p class="copyright">&copy; Igor Taraymovich, Dmitry Gushchin, Kirill Puchkov - 2019</p>
        </div>
    </body>

</html>
